  		<section class="tab" ng-controller="TabController as tabs">
        <ul class="nav nav-pills">
          <li ng-class="{active:tabs.isSet(0)}">
            <a ng-click="tabs.setTab(0)" href>Översikt</a></li>
          <li ng-class="{active:tabs.isSet(1)}">
            <a ng-click="tabs.setTab(1)" href>Miljö</a></li>
          <li ng-class="{active:tabs.isSet(2)}">
            <a ng-click="tabs.setTab(2)" href>Människor</a></li>
          <li ng-class="{active:tabs.isSet(3)}">
            <a ng-click="tabs.setTab(3)" href>Samhälle</a></li>
        </ul>
        <div ng-controller="WidgetController as widgetCtrl">
	        <div ng-show="tabs.isSet(0)">
    	      <div class="hemulwidgets">
    	      	<!-- <li class="hemulwidget" ng-repeat="widget in widgets"> -->
    	      		<hemul-widget data-electionresults></hemul-widget>
    	      	<!-- </li> -->
        	  </div>
	        </div>
    	    <div ng-show="tabs.isSet(1)">
        	  <h4>Miljö:</h4>
    	      	<hemul-widget data-rainfall></hemul-widget>
    	    </div>
        	<div ng-show="tabs.isSet(2)">
        	  <h4>Människor</h4>
	          <blockquote>test människor</blockquote>
    	    </div>
        	<div ng-show="tabs.isSet(3)">
        	  <h4>Samhälle</h4>
        	  <blockquote>test samhälle</blockquote>
       		</div>
       	</div>
  		</section>