  		<section class="tab" ng-controller="TabController as tabs">
        <ul class="nav nav-pills">
          <li ng-class="{active:tabs.isSet(0)}">
            <a ng-click="tabs.setTab(0)" href>Valresultat</a></li>
          <li ng-class="{active:tabs.isSet(1)}">
            <a ng-click="tabs.setTab(1)" href>Väder</a></li>
          <li ng-class="{active:tabs.isSet(2)}">
            <a ng-click="tabs.setTab(2)" href>Inkomst</a></li>
          <li ng-class="{active:tabs.isSet(3)}">
            <a ng-click="tabs.setTab(3)" href>Stämning</a></li>
          <li ng-class="{active:tabs.isSet(4)}">
            <a ng-click="tabs.setTab(4)" href>Skola & förskola</a></li>
        </ul>
        <div ng-controller="WidgetController as widgetCtrl">
	        <div ng-show="tabs.isSet(0)">
    	      <div class="hemulwidgets">
    	      	<!-- <li class="hemulwidget" ng-repeat="widget in widgets"> -->
    	      		<hemul-widget data-electionresults></hemul-widget>
    	      	<!-- </li> -->
        	  </div>
	        </div>
    	    <div ng-show="tabs.isSet(1)">
    	      	<hemul-widget data-rainfall></hemul-widget>
    	    </div>
        	<div ng-show="tabs.isSet(2)">
				<hemul-widget data-income></hemul-widget>
    	    </div>
        	<div ng-show="tabs.isSet(3)">
				<hemul-widget data-kolada-u00402u00405u00408U07406></hemul-widget>
       		</div>
        	<div ng-show="tabs.isSet(4)">
				<hemul-widget data-kolada-n13008n11010u11401u11402u11415u11419n15100n11804n15033u15502></hemul-widget>
       		</div>
       	</div>
  		</section>
