  		<section class="tab" ng-controller="TabController as tabs">
        <ul class="nav nav-pills">
          <li ng-class="{active:tabs.isSet(0)}">
            <a ng-click="tabs.setTab(0)" href>Valresultat</a></li>
          <li ng-class="{active:tabs.isSet(1)}">
            <a ng-click="tabs.setTab(1)" href>Nederbörd</a></li>
          <li ng-class="{active:tabs.isSet(2)}">
            <a ng-click="tabs.setTab(2)" href>Inkomst</a></li>
          <li ng-class="{active:tabs.isSet(3)}">
            <a ng-click="tabs.setTab(3)" href>Nöjdhetsindex</a></li>
          <li ng-class="{active:tabs.isSet(4)}">
            <a ng-click="tabs.setTab(4)" href>Jobs</a></li>
          <li ng-class="{active:tabs.isSet(5)}">
            <a ng-click="tabs.setTab(5)" href>Bad</a></li>
        </ul>
        <div ng-controller="WidgetController as widgetCtrl">
	        <div ng-show="tabs.isSet(0)">
    	      		<hemul-widget data-electionresults></hemul-widget>
	        </div>
    	    <div ng-show="tabs.isSet(1)">
    	      	<hemul-widget data-rainfall></hemul-widget>
    	    </div>
        	<div ng-show="tabs.isSet(2)">
				<hemul-widget data-income><:w/hemul-widget>
    	    </div>
        	<div ng-show="tabs.isSet(3)">
				<hemul-widget data-kolada-u00402u00405u00408U07406></hemul-widget>
       		</div>
        	<div ng-show="tabs.isSet(4)">
				<hemul-widget data-jobs></hemul-widget>
       		</div>
        	<div ng-show="tabs.isSet(5)">
				<hemul-widget data-water-information></hemul-widget>
       		</div>
       	</div>
  		</section>
